/* Resets */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* inhouse javascript stuff styling */

.texteffect_handled, .texteffect_char {
	display:inline-block;
}

.titlehover {
	height:30px;
	font-weight:100;
	font-size:15px;
	padding:0 10px;
	line-height:30px;
	border-radius:4px;
	position:fixed;
	display:block;
	background:#333;
	color:rgba(255,255,255,.8);
	box-sizing:border-box;
	z-index:5;
}

.titlehover:before {
	border-color:transparent #333 transparent transparent;
	border-width:14px 14px 14px 0;
	border-style:solid;
	top:1px;
	height:0px;
	width:0px;
	font-size:0px;
	content:"";
	display:inline-block;
	position:absolute;
	left:-13px;
	z-index:5;
}

/* Live indicator */

#live {
	width:45px;
	height:45px;
	line-height:45px;
	text-align:center;
	text-transform:uppercase;
	display:block;
	margin:10px 5px;
	position:absolute;
	bottom:0;
	border:1px dashed #f13939;
	color:#f13939;
	font-weight:bold;
	border-radius:100px;
	box-sizing:border-box;
	filter:drop-shadow(0 0 4px rgba(0,0,0,.5));
}

/* Rest of the styling */

#sidebar, #main, .titlehover {
	font-family:"Arial", sans-serif;
}

/* Starting with the sidebar */

#sidebar {
	position:fixed;
	left:0;
	top:0;
	width:55px;
	height:100%;
	/* change the following hex code to modify the sidebar color */
	background:#272d36;
	box-sizing:border-box;
}

#sidebar a {
	display:block;
	width:45px;
	height:45px;
	line-height:45px;
	margin:10px auto;
	box-sizing:border-box;
	border-radius:100px;
	text-align:center;
	border:1px solid rgba(255,255,255,.3);
	color:rgba(255,255,255,.3);
	transition:all .2s ease-out;
	cursor:pointer;
	position:relative;
	z-index:4;
}

#sidebar hr {
	border-width:1px 0 0 0;
	border-color:rgba(255,255,255,.3);
	border-width:1px;
	box-sizing:border-box;
	width:45px;
	margin:8px auto;
}

#sidebar a.active {
	background-color:rgba(255,255,255,.2);
	color:rgba(255,255,255,.4);
}

#sidebar a:hover {
	background-color:rgba(255,255,255,.4);
	color:rgba(255,255,255,.7);
	filter:drop-shadow(0 3px 15px rgba(0,0,0,.4));
}

/* Main container (non-sidebar) */

#main {
	position:fixed;
	top:0;
	right:0;
	width:calc(100% - 55px);
	height:100%;
	background:#555;
}

/* Loading text... */

#loading, #notlive {
	background:#222;
	position:absolute;
	z-index:99;
	width:100%;
	height:100%;
}

#loading h2, #notlive h2{
	font-size:50px;
	text-align:center;
	color:#ccc;
	position:absolute;
	bottom: calc(50% - 30px);
	width:100%;
	transform: translateY(-50%);
	margin: 0 auto;
	font-weight: bold;
}

#notlive {
	z-index:101;
}

/* Stream container / stream / chat */

#strimcontainer {
	position:absolute;
	width:100%;
	height:100%;
	background:#000;
}


#strimbody {
	width:100%;
	height:100%;
	transition:width .3s ease-out;
	background:#000;
}

#strimchat {
	top:0;
	width:320px;
	height:100%;
	position:absolute;
	right:-320px;
	transition:right .3s ease-out;
	background:#000;
}

#strimcontainer.chatVisible #strimbody {
	width:calc(100% - 320px);
}

#strimcontainer.chatVisible #strimchat {
	right:0;
}